@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .filterPill {
    @apply px-4 py-2 border border-primary rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-primary transition transform duration-100 ease-out select-none;
  }
  .footer-link {
    @apply hover:cursor-pointer hover:text-primary hover:font-semibold transition duration-100 ease-out;
  }
  .menu-link {
    @apply hover:text-primaryDark transition duration-100 ease-out hover:scale-105 mt-3 first:mt-0;
  }
}
@media screen and (max-width: 579px) {
  .rdrDefinedRangesWrapper {
    width: 0px !important;
  }
  .rdrDateRangePickerWrapper {
    width: 100% !important;
    overflow: hidden !important;
  }
}
